.section-home {
  position: relative;
  z-index: 1;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 0;

  // DESKTOP VIEW
  @media only screen and (min-width: 1400px) {
    .section-items.sm-screen,
    .section-items.md-screen {
      display: none;
    }

    .section-items.lg-screen {
      position: relative;
      top: 15%;
      display: flex;
      width: 100%;
      justify-content: space-around;

      .space-intro {
        width: 450px;
        height: 382px;

        h3 {
          letter-spacing: 4.75px;
          font-family: "Barlow Condensed", sans-serif;
          font-size: 28px;
          font-weight: normal;
        }

        .space {
          font-size: 150px;
          font-family: "Bellefair", sans-serif;
        }

        p {
          font-size: 18px;
          line-height: 35px;
        }
      }

      .explore-button {
        position: relative;
        margin-left: -10%;
        margin-top: 10%;
        width: auto;

        a {
          text-decoration: none;
          border-radius: 50%;
          .explore {
            transition: all 0.3s ease;
            position: relative;
            letter-spacing: 2px;
            border: none;
            position: relative;
            margin-left: -10%;
            margin-top: 10%;
            line-height: 274px;
            text-align: center;
            font-size: 32px;
            font-family: "Bellefair", sans-serif;
            color: #0b0d17;
            width: 274px;
            height: 274px;
            background-color: white;
            border-radius: 50%;

            .explore-hover {
              top: 0%;
              left: 0%;
              position: absolute;
              background-color: rgba(255, 255, 255, 0.2);
              opacity: 0;
              border-radius: 50%;
              width: 274px;
              height: 274px;
              transition: all 0.3s ease;
            }
          }

          &:hover,
          &:focus {
            .explore {
              cursor: pointer;
              .explore-hover {
                opacity: 1;
                top: -27%;
                left: -27%;
                width: 420px;
                height: 420px;
              }
            }

            &:focus,
            &:active {
              .explore {
                background-color: #0b0d17;
                color: white;
              }
            }
          }
        }
      }
    }
  }

  // MOBILE VIEW
  @media only screen and (max-width: 767px) {
    .section-items.lg-screen,
    .section-items.md-screen {
      display: none;
    }

    & {
      padding-top: 0%;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: center;
      .section-items.sm-screen {
        display: flex;
        align-items: center;
        flex-direction: column;
        .space-intro {
          height: 276px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h3 {
            font-family: "Barlow Condensed", sans-serif;
            font-weight: normal;
            letter-spacing: 2.7px;
          }

          .space {
            font-family: "Bellefair", sans-serif;
            font-size: 80px;
          }

          p {
            text-align: center;
            font-size: 15px;
            line-height: 25px;
          }
        }

        .explore-button {
          margin-top: 60px;
          width: 150px;
          height: 150px;
          text-align: center;
          line-height: 150px;

          a {
            text-decoration: none;
            border-radius: 50%;

            .explore {
              font-size: 20px;
              letter-spacing: 1.25px;
              background-color: white;
              border-radius: 50%;
              font-family: "Bellefair", sans-serif;
              color: #0b0d17;
              transition: all 0.3s ease;

              &:active,
              &:hover {
                background-color: #0b0d17;
                color: white;
              }

              &:focus {
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
}

// TABLET VIEW {
@media only screen and (max-width: 992px) {
  .section-items.sm-screen, .section-items.lg-screen {
    display: none;
  }
}