.section-tech {
  padding-bottom: 5%;
  padding-left: 163px;
  padding-top: 5%;
  .tech-intro {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    letter-spacing: 4.72px;
    font-weight: normal;

    span {
      font-weight: bold;
      opacity: 0.3;
      margin-right: 28px;
    }
  }

  .tech-desc-items {
    margin-top: 5%;
    display: flex;
    height: 527px;
    justify-content: space-between;
    align-items: center;
    .tech-btns {
      width: 80px;
      height: 304px;

      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          .tech-button {
            font-family: "Bellefair", sans-serif;
            font-size: 32px;
            width: 80px;
            height: 80px;
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid rgba(255, 255, 255, 0.3);
            color: white;
            border-radius: 50%;
            margin-bottom: 32px;
            transition: all 0.3s ease;

            &:hover,
            &:focus {
              border: 1px solid rgba(255, 255, 255, 1);
              cursor: pointer;
            }

            &:focus {
              background-color: rgba(255, 255, 255, 0.2);
            }

            &.active {
              background-color: white;
              color: black;
            }
          }
        }
      }
    }
    .tech-info {
      width: 470px;
      margin-top: -22%;

      h5 {
        margin: 0;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 2.7px;
      }

      .tech-name-desc {
        position: absolute;
        opacity: 0;
        transition: all 0.5s ease;
        left: 30%;
        h1 {
          margin: 11px 0 17px 0;
          font-family: "Bellefair", sans-serif;
          font-size: 56px;
          font-weight: normal;
        }

        p {
          font-size: 18px;
          line-height: 32px;
        }

        &.active {
          left: 24%;
          opacity: 1;
        }
      }
    }
    .tech-img {
      width: 515px;
      height: 527px;

      .tech-photo {
        position: absolute;
        opacity: 0;
        left: 71%;
        transition: all 0.5s ease;

        &.active {
          opacity: 1;
          left: 65%;
        }
      }
    }
  }
}
