.section-tech {
  padding-bottom: 5%;
  padding-left: 163px;
  padding-top: 5%;

  // DESKTOP VIEW
  @media only screen and (min-width: 992px) {
    .section-items.sm-screen,
    .tech-desc-items.sm-screen {
      display: none;
    }

    .section-items.lg-screen {
      .tech-intro {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 28px;
        letter-spacing: 4.72px;
        font-weight: normal;

        span {
          font-weight: bold;
          opacity: 0.3;
          margin-right: 28px;
        }
      }

      .tech-items {
        .tech-desc-items.lg-screen {
          margin-top: 5%;
          display: flex;
          height: 527px;
          justify-content: space-between;
          align-items: center;
          .tech-btns {
            width: 80px;
            height: 304px;

            ul {
              padding: 0;
              margin: 0;
              li {
                list-style: none;
                .tech-button {
                  font-family: "Bellefair", sans-serif;
                  font-size: 32px;
                  width: 80px;
                  height: 80px;
                  background-color: rgba(0, 0, 0, 0);
                  border: 1px solid rgba(255, 255, 255, 0.3);
                  color: white;
                  border-radius: 50%;
                  margin-bottom: 32px;
                  transition: all 0.3s ease;

                  &:hover,
                  &:focus {
                    border: 1px solid rgba(255, 255, 255, 1);
                    cursor: pointer;
                  }

                  &:focus {
                    background-color: rgba(255, 255, 255, 0.2);
                  }

                  &.active {
                    background-color: white;
                    color: black;
                  }
                }
              }
            }
          }
          .tech-info {
            width: 470px;
            margin-top: -22%;

            h5 {
              margin: 0;
              font-family: "Barlow Condensed", sans-serif;
              font-size: 16px;
              font-weight: normal;
              letter-spacing: 2.7px;
            }

            .tech-name-desc {
              position: absolute;
              opacity: 0;
              transition: all 0.5s ease;
              left: 30%;
              h1 {
                margin: 11px 0 17px 0;
                font-family: "Bellefair", sans-serif;
                font-size: 56px;
                font-weight: normal;
              }

              p {
                font-size: 18px;
                line-height: 32px;
              }

              &.active {
                left: 24%;
                opacity: 1;
              }
            }
          }
          .tech-img {
            width: 515px;
            height: 527px;

            .tech-photo {
              position: absolute;
              opacity: 0;
              left: 71%;
              transition: all 0.5s ease;

              &.active {
                opacity: 1;
                left: 65%;
              }
            }
          }
        }
      }
    }
  }

  // MOBILE VIEW
  @media only screen and (max-width: 767px) {
    & {
      padding: 4% 0 5% 0;
    }

    .section-items.lg-screen,
    .tech-desc-items.lg-screen {
      display: none;
    }

    .section-items.sm-screen {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .tech-intro {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        letter-spacing: 2.7px;
        font-weight: normal;

        span {
          font-weight: bold;
          opacity: 0.3;
          margin-right: 16px;
        }
      }

      .tech-items {
        margin-top: 32px;
        width: 100%;

        .tech-desc-items.sm-screen {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .tech-img {
            position: relative;
            width: 100%;
            height: 170px;

            .tech-photo {
              position: absolute;
              opacity: 0;
              left: 50%;
              width: 101%;
              height: 100%;
              transition: all 0.3s ease;
              object-fit: cover;

              &.active {
                opacity: 1;
                left: 0%;
              }
            }
          }

          .tech-btns {
            margin-top: 5%;
            width: 152px;
            position: relative;
            ul {
              padding: 0;
              margin: 0;
              display: flex;
              li {
                list-style: none;
                .tech-button {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background: none;
                  color: white;
                  font-family: "Bellefair", sans-serif;
                  font-size: 16px;
                  letter-spacing: 1px;
                  border: 1px solid rgba(255, 255, 255, 0.3);
                  margin-right: 16px;
                  transition: all 0.3s ease;

                  &.active {
                    background-color: white;
                    color: #0b0d17;
                  }
                }
              }
            }
          }

          .tech-info {
            position: relative;
            width: 327px;
            text-align: center;
            h5 {
              font-family: "Barlow Condensed", sans-serif;
              font-size: 14px;
              letter-spacing: 2.36px;
              font-weight: normal;
              color: #d0d6f9;
            }

            .tech-name-desc {
              margin-top: -30px;
              width: 100%;
              position: absolute;
              opacity: 0;
              transition: all 0.3s ease;

              h1 {
                font-family: "Bellefair", sans-serif;
                font-size: 24px;
                font-weight: normal;
              }

              p {
                font-family: "Barlow", sans-serif;
                font-size: 15px;
                line-height: 25px;
              }

              &.active {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
